@mixin backImage($image) {
    background-image: url($image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin flexColumnCent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}