@media (max-width: 768px) {
    .header,
    .container,
    .header-content,
    .header-nav,
    .project-title,
    .menu-icon {
        width: 100%;
    }
    .nav-list {
        display: none !important;
    }
    .menu-icon {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;

        div{
            width: 22px;
            height:3px;
            background-color: #fff;
            margin: 3px auto;
            align-self: right;
        }
    }

    .intro {
        height: unset;

        &-title {
            width: 386px;
        }
        .section-subtitle {
            width: 425px;
            margin: 15px;
        }

        .animation-block__orb {
            width: 60px;
            height: 50px;
        }
        .animation-block__orb:nth-child(1) {
            display: none;
        }
        .animation-block__orb:nth-child(2) {
            right: 68px;
            top: 225px;
        }
        .animation-block__orb:nth-child(3) {
            right: -36px;
            top: 531px;
            overflow: hidden;
        }
    }
    
    
    
    .info {
        .section-title {
            width: 75%;
        }
        .info-desc__container {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;

            .info-description {
                width: 100%;
                margin: 10px 0;
            }
        }
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .contact,
        .copyright {
            align-self: center;
            margin: 10px auto;
        }
    }
    
    .btn:hover,
    .logo:hover {
        transform: unset;
    }
}