@media (max-width: 768px) {
  .header,
  .container,
  .header-content,
  .header-nav,
  .project-title,
  .menu-icon {
    width: 100%;
  }
  .nav-list {
    display: none !important;
  }
  .menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .menu-icon div {
    width: 22px;
    height: 3px;
    background-color: #fff;
    margin: 3px auto;
    -ms-flex-item-align: right;
        -ms-grid-row-align: right;
        align-self: right;
  }
  .intro {
    height: unset;
  }
  .intro-title {
    width: 386px;
  }
  .intro .section-subtitle {
    width: 425px;
    margin: 15px;
  }
  .intro .animation-block__orb {
    width: 60px;
    height: 50px;
  }
  .intro .animation-block__orb:nth-child(1) {
    display: none;
  }
  .intro .animation-block__orb:nth-child(2) {
    right: 68px;
    top: 225px;
  }
  .intro .animation-block__orb:nth-child(3) {
    right: -36px;
    top: 531px;
    overflow: hidden;
  }
  .info .section-title {
    width: 75%;
  }
  .info .info-desc__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .info .info-desc__container .info-description {
    width: 100%;
    margin: 10px 0;
  }
  .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .footer-content .contact,
  .footer-content .copyright {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 10px auto;
  }
  .btn:hover,
  .logo:hover {
    -webkit-transform: unset;
            transform: unset;
  }
}
/*# sourceMappingURL=responsive.css.map */