@import "variables.scss";
@import "mixins.scss";
@import "animation.scss";
@import "responsive.scss";

html, body {
    scroll-behavior: smooth;
}

.container {
    width: 1300px;
    margin: 0 auto;
}

.header {
    position: absolute;
    z-index: 2;

    &-content {
        padding: 20px 100px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .project-title,
        .nav-list__link {
            color: #fff;
            text-transform: uppercase;
            font-family: $main-font;
            line-height: 16px;
        }
        .project-title {
            font-size: 20px;
        }
        .nav-list {
            display: flex;
            justify-content: space-evenly;

            &__link {
                font-size: 14px;
                margin: auto 10px;
            }
        }
    }
}

.intro {
    width: 100%;
    height: 822px;
    @include backImage('../images/sect-1-background.png');
    position: relative;

    &-content {
        padding: 250px;
    }

    &-title {
        margin-top: 20px;
    }
    .logo {
        margin: auto;
        transition: all 0.5s linear;
        cursor: pointer;

        &:hover {
            transform: rotateY(180deg) scale(1.5);
        }
    }

    .animation-block__orb {
        position: absolute;
        z-index: 1;
        height: 65px;
        width: 62px;
        opacity: 1;
        animation: glow 3s forwards infinite 0.5s;
    }
    .animation-block__orb:nth-child(1) {
        right: 15px;
        top: 75px;
    }
    .animation-block__orb:nth-child(2) {
        right: 378px;
        top: 188px;
    }
    .animation-block__orb:nth-child(3) {
        right: 247px;
        top: 570px;
    }
    .section-subtitle {
        color: $lightsubtitle;
    }
}

.info {
    width: 100%;
    background-color: #eee;

    &-content {
        padding: 100px;
    }

    &-title {
        width: 75%;
        color: $darkgray;
    }

    .section-subtitle {
        color: $darksubtitle;
    }

    &-desc__container {
        display: flex;
        justify-content: space-around;
    }
    &-description {
        width: 50%;
        text-align: left;
        margin: 0 10px;
    }
}

.intro-title,
.learn-more__title {
    color: #fff;
}

.intro-title,
.section-title {
    font-weight: $title-weight;
    font-size: 48px;
    line-height: 64px;
}

.section-subtitle {
    font-size: 24px;
    line-height: 32px;
}

.section-description {
    font-family: $main-font;
    font-size: $plain-text-size;
    line-height: 22px;
}

.info-content,
.learn-more__content {
    padding: 100px;
} 

.learn-more {
    width: 100%;
    height: 650px;
    @include backImage("../images/sect-3-background.png");

    &-content {
        padding: 100px;
    }

    .section-subtitle {
        color: #fff;
    }

    .btn {
        background-color: $play-btn-blue;
        font-size: 56px;
        border-color: transparent;
        border-radius: 50%;
        height: 150px;
        width: 150px;
        cursor: pointer;

        &:hover {
            background-color: #fff;
            color: $play-btn-blue;
            transform: scale(0.9);
        }
    }
}

.section-title,
.section-subtitle,
.section-description,
.logo,
.btn {
    margin: $main-margin;
}

.section-content,
.intro-title,
.section-title,
.global-title,
.section-subtitle,
.section-description,
.logo,
.btn {
    @include flexColumnCent;
}

.btn {
    text-transform: uppercase;
    font-family: $title-font;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    background-color: $more-btn-blue;
    border-color: transparent;
    border-radius: 18px;
    padding: 4px 20px;
    cursor: pointer;
    transition: all 0.3s linear;

    &:hover {
        transform: rotate(20deg);
    }
}

.footer {
    background-color: $darkgray;

    &-content {
        padding: 20px 35px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-title,
    .contact-address,
    .copyright {
        margin: 5px 0;
    }
    &-title {
        width: 200px;
        display: flex;

        p {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 18px;
            line-height: 16px;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            color: #fff;
            margin: auto;
        }
    }
    .contact,
    .copyright {
        font-family: $main-font;
        font-size: $plain-text-size;
        line-height: 19px;
        color: $footergray;
        align-self: flex-end;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }
}