@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
html, body {
  scroll-behavior: smooth;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.header {
  position: absolute;
  z-index: 2;
}

.header-content {
  padding: 20px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-content .project-title,
.header-content .nav-list__link {
  color: #fff;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 16px;
}

.header-content .project-title {
  font-size: 20px;
}

.header-content .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header-content .nav-list__link {
  font-size: 14px;
  margin: auto 10px;
}

.intro {
  width: 100%;
  height: 822px;
  background-image: url("../images/sect-1-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.intro-content {
  padding: 250px;
}

.intro-title {
  margin-top: 20px;
}

.intro .logo {
  margin: auto;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  cursor: pointer;
}

.intro .logo:hover {
  -webkit-transform: rotateY(180deg) scale(1.5);
          transform: rotateY(180deg) scale(1.5);
}

.intro .animation-block__orb {
  position: absolute;
  z-index: 1;
  height: 65px;
  width: 62px;
  opacity: 1;
  -webkit-animation: glow 3s forwards infinite 0.5s;
          animation: glow 3s forwards infinite 0.5s;
}

.intro .animation-block__orb:nth-child(1) {
  right: 15px;
  top: 75px;
}

.intro .animation-block__orb:nth-child(2) {
  right: 378px;
  top: 188px;
}

.intro .animation-block__orb:nth-child(3) {
  right: 247px;
  top: 570px;
}

.intro .section-subtitle {
  color: rgba(255, 255, 255, 0.7);
}

.info {
  width: 100%;
  background-color: #eee;
}

.info-content {
  padding: 100px;
}

.info-title {
  width: 75%;
  color: #464547;
}

.info .section-subtitle {
  color: #666;
}

.info-desc__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.info-description {
  width: 50%;
  text-align: left;
  margin: 0 10px;
}

.intro-title,
.learn-more__title {
  color: #fff;
}

.intro-title,
.section-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}

.section-subtitle {
  font-size: 24px;
  line-height: 32px;
}

.section-description {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.info-content,
.learn-more__content {
  padding: 100px;
}

.learn-more {
  width: 100%;
  height: 650px;
  background-image: url("../images/sect-3-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.learn-more-content {
  padding: 100px;
}

.learn-more .section-subtitle {
  color: #fff;
}

.learn-more .btn {
  background-color: #39C2D7;
  font-size: 56px;
  border-color: transparent;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  cursor: pointer;
}

.learn-more .btn:hover {
  background-color: #fff;
  color: #39C2D7;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.section-title,
.section-subtitle,
.section-description,
.logo,
.btn {
  margin: 15px auto;
}

.section-content,
.intro-title,
.section-title,
.global-title,
.section-subtitle,
.section-description,
.logo,
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.btn {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #fff;
  background-color: #55C2D8;
  border-color: transparent;
  border-radius: 18px;
  padding: 4px 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.btn:hover {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.footer {
  background-color: #464547;
}

.footer-content {
  padding: 20px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-title,
.footer .contact-address,
.footer .copyright {
  margin: 5px 0;
}

.footer-title {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-title p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #fff;
  margin: auto;
}

.footer .contact,
.footer .copyright {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.4);
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */