@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

$darkgray: #464547;
$lightgray: #eee;
$darksubtitle: #666;
$lightsubtitle: rgba(255, 255, 255, 0.7);
$more-btn-blue: #55C2D8;
$play-btn-blue: #39C2D7;
$footergray: rgba(255, 255, 255, 0.4);


$title-font: 'Oswald', sans-serif;
$main-font: 'Source Sans Pro', sans-serif;


$plain-text-size: 16px;
$subtitle-size: 24px;
$title-size: 48px;

$title-weight: 700;


$main-margin: 15px auto;